[Unit]
Description=Bandsy
After=network.target

[Service]
WorkingDirectory=/opt/bandsy
Environment=BANDSY_LOGIN=on BANDSY_SPEAKING=off BANDSY_DB=/opt/bandsy/data/bandsy.db HOST=127.0.0.1 PORT=3001
ExecStart=/usr/bin/node server.js
User=bandsy
Restart=always

[Install]
WantedBy=multi-user.target
